---
layout: default
title: 主页
altered_nav: true
extra_css: /css/index.css
---
<!--index.html-->
{% include navbar.html %}
<div class="view hm-black-light canvas-wrap" id="index-view">
    <div class="full-bg-img flex-center canvas-content">
        <ul>
            <li>
                <h1 class="h1-responsive titlefont text-justify">{{site.title}}</h1>
            </li>
            <li>
                <p class="inverse fa-border text-justify">{{site.subtitle}}</p>
            </li>
        </ul>
    </div>
    <div id="canvas" class="gradient"></div>
</div>
{% include canvas.html %}
